

<% content_for :page_actions do %>
    <li>
      <%= button_link_to t(:new_banner), spree.new_admin_banner_path, :icon => 'icon-plus' %>
    </li>
<% end %>

<% unless @banners.any? %>
    <div class="no-objects-found">
      <%= t(:no_banners_found) %>
    </div>
<% else %>


    <%= form_tag "/admin/banners/search" , :remote => true, :id => 'search_banner', :dataType => 'html', :method => :get  do  %>
        <%= select_tag "filter", options_for_select(['All', 'Active', 'In-Active'], :selected => "Active"),  :class => 'type-select select2', :style => 'width: 100px;' %>
        <%= text_field_tag "search" , params[:search_taxons] , :placeholder =>  'search by banner', :style => 'width: 400px;' %>
        <%= button_tag 'search' , :id => 'ban_search_form' %>
    <% end %>


    <div style="padding:10px"></div>
    <div id="show_banners">

    </div>


<div id="all_ban">
  <%= paginate(@banners) %>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Menu Name</th>
      <th>URL</th>
      <th>Image</th>
      <th>Sale</th>
      <th>Is Live?</th>
      <th>Position</th>
      <th>Type</th>
      <th>target _blank</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td>
          <% name = @all_sales_menu.select{ |name, permalink| banner.name == permalink}  %>
          <%= name.first.try(:first) %>
        </td>
        <td><%= banner.try(:url) %></td>
        <td><%= image_tag("http://slider.styletagassets.com/banners/#{banner.try(:image_name)}", :size => "125x30") %></td>
        <td><%= banner.try(:active_sale_event).try(:eventable).try(:name) %></td>
        <td><%= banner.live %></td>
        <td><%= banner.position %></td>
        <td><%= banner.banner_type %></td>
        <td><%= banner.target %></td>
        <td><%= link_to 'Pin', pin_admin_banner_path(banner) %></td>
        <td><%= link_to 'Show', admin_banner_path(banner) %></td>
        <td><%= link_to 'Edit', edit_admin_banner_path(banner) %></td>
        <td><%= link_to 'Destroy', admin_banner_path(banner), :confirm => 'Are you sure?', :method => :delete %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @banners %>
</div>
<% end %>

<script type="text/javascript">

    $(document).ready(function(){
        $('form#search_banner').on('ajax:success',function(event, data, status, xhr){
            $('#all_ban').hide();
            $('#show_banners').html(data);
        });
    });

</script>
